<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.NervousOrange.MockDataMapper">
    <select id="loadNewsFromDatabase" resultType="com.github.NervousOrange.News">
        SELECT ID,TITLE,CONTENT,URL,CREATED_AT,MODIFIED_AT FROM NEWS
    </select>
    <insert id="insertNews" parameterType="com.github.NervousOrange.News">
        INSERT INTO NEWS (TITLE, CONTENT, URL, CREATED_AT, MODIFIED_AT)
        VALUES (#{title}, #{content}, #{URL}, #{createdAt}, #{modifiedAt})
    </insert>
</mapper>